@use './vars';

// -------------------------------------------------------
// -------------------OTHERS---------------------
// -------------------------------------------------------

.__vercel-feedback {
    display: none !important;
  }
  html {
    scroll-behavior: smooth;
  }
  
*{
    box-sizing: border-box;
    font-family: roboto;
    margin:0;
    padding:0;
}
body{
    max-width: 1920px;
    font-size: 1rem;
    font-family: roboto;
    font-weight: 500;
    background-image: url(./svg/body/background.svg);
    background-attachment: fixed;
}

picture{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// iframe {
//     pointer-events: none;
//   }

// -------------------------------------------------------
// --------------------MIXINS--------------------
// -------------------------------------------------------
@mixin comun(){
    margin: auto;text-align: center;
}

@mixin  comunFlex($flex:column){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flex;
}

@mixin comunPicture($width){
    width: $width;
    img{
        width: 100%;
    }
}

// -------------------------------------------------------
// ------------------NAV MOBILE----------------------
// -------------------------------------------------------
#mobileNav_container{
    nav{
        position:fixed;
        z-index: 20;
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100%;
        padding: 1em 0 2em 0;
        transition: right 0.5s ease,background-color 0.7s ease;
        justify-content: center;
        
        picture{
            @include vars.buttonAction("",295px,295px,transparent);
            position:relative;
            margin-bottom: 0.5em;
        @include vars.backImage('./svg/nav/chicken.svg',center,no-repeat,cover);
        &::after{
            @include vars.barras(x,12px,4px);
            right: -0.57em;
            top: calc(60px/100%)*100%;
        }
        &::before{
            @include vars.barras(x,12px,4px);
            right: -0.57em;
            top: calc(174px/100%)*100%;
        }
        }
        a{
            @include vars.buttonAction(banner,295px,40px);
            margin-bottom: 0.25em;
            position:relative;
            &::after{
                @include vars.barras(y,4px,4px,0);
                top: -0.3em;
                right: calc(60px/100%)*100%;
            }
            &::before{
                @include vars.barras(y,4px,4px,0);
                top: -0.3em;
                right: calc(220px/100%)*100%;
            }
            &:nth-child(2){
                z-index: 10;
                &::after{
                    @include vars.barras(y,19.8px,4px,0 -2px 4px);
                    top: -1.29em;
                    z-index:-10;
                    right: calc(60px/100%)*100%;
                }
                &::before{
                    @include vars.barras(y,19.8px,4px,0 -2px 4px);
                    top: -1.29em;
                    z-index:-10;
                    right: calc(220px/100%)*100%;
                }
            }
        }
    }
}

.mobileNav_banner{
    @include vars.buttonAction(banner,200px);
    font-size: 1.6em;
    left: 0;
    right: 0;
   position: fixed;
   margin: auto;
   &::after{
    @include vars.barras();
    top: -0.69em;
    right: calc(16px/100%)*100%;
}
&::before{
    @include vars.barras();
    top: -0.69em;
    right: calc(174px/100%)*100%;
}
}

// -------------------------------------------------------
// -------------------BUTTONS---------------------
// -------------------------------------------------------
.buttonAction{
 @include vars.buttonAction(banner);
 img{
    filter: invert(100%);
    width: 65%;
 }
&::after{
    @include vars.barras();
    top: -0.57em;
    right: calc(13px/100%)*100%;
}
}

.backButton{
    @include vars.buttonAction(bannerback);
    top: calc(100% - 50px);
    left: 10px;
    &::after{
        @include vars.barras();
        top: 0.35em;
        rotate: 270deg;
        right: 1.35em;
    }
  }

  .button_route{
    @include comunFlex(row);
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-weight: 700;
    border:2px solid vars.$yellow;
    width: 180px;
    height: 50px;
    border-radius: 7px;
    background-color: vars.$green;
    color: vars.$white;
    font-size: 1.3em;
    margin: 1em auto;
    box-shadow: 0 1.3px 2px  vars.$black;
    transition: all 0.5s  ease;
    &:hover{
        box-shadow: 0 0px 2px  vars.$black;
    }
}
// -------------------------------------------------------
// --------------------HEADER--------------------
// -------------------------------------------------------
#header_container{
    width: 100%;
}

#header_container-mobile{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.parallax_picture{
    position: absolute;
    img{
        width: 110%;
    }
}

.picture_main{
    position: relative;
    bottom: -5px;
}
// -------------------------------------------------------
// -------------------MAIN---------------------
// -------------------------------------------------------
#main{
    min-height: 100vh;
   width: 100%;
}

.main_title{
    background-color: vars.$green;
    color:vars.$white;
    @include comun();
    padding: 0.4em 0;
    *{
        margin:0.2em
    }
    h1{
        font-size: 1.5em;
    }
    em{
        color:vars.$black;
        font-weight: 400;
    }
}

// en caso quiera que el boton sea absolute
.main_seccion-father{
    position: relative;
    margin-bottom: 2em
}

.main_section{
 @include comunFlex();
 position: relative;
 width: 95%;
max-width: 600px;
 text-align: justify;
 margin: 0 auto;
 h3{
    font-size: 1.6em;
    margin: 0.8em auto;
    color: vars.$green;
    text-shadow: 0 0 1px vars.$green;
}
p{
    margin: 1em 0;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
}

}

.main_about-section{
    & #main_about_image{
       width: 98%;
       max-width: 500px;
      
      
       img{
           box-shadow: 0 0 0.5em vars.$black;      
           border: 2px solid vars.$yellow;
                 width: 100%;
                 border-radius: 0.5em;   
       }
       &:hover{
            box-shadow: none;
        }
     }
}

// mobile
.main_products-slider{
    border: 2px solid vars.$yellow;
    border-radius: 8px;
    min-width: 300px;
    max-width: 500px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.main_products-section{
    min-height: 20vh;
}

.main_recipes-section{
    min-height: 20vh;
}
// mobile
.main_recipes-gallery-container{
    min-width: 300px;
    width: 300px ;
    height: 300px;
}

// -------------------------------------------------------
// -------------------ABOUT---------------------
// -------------------------------------------------------

.about_container{
    min-height: 100vh;
    width: 100%;
    // max-width: 1920px;
}

.about_container-flex{
    @include comunFlex(column);
        section{
            min-width: 300px;
            width: 97%;
            flex:1;
            background-color: #4442;
            border-radius: 8px;
            margin: 0.5em 0;
            @include comunFlex(column);
            justify-content: center;
            align-items: center;
            padding: 0.4em;
            box-shadow: 0 1px 4px #000;
            h2{
                margin-bottom: 0.5em;
            }
            p{
                margin: 0 0.5em 1em  0.5em;
                
                text-align: justify;
                font-size: 1.12em;
            }
            picture{
                position: relative;
                img{
                    border-radius: 8px;
                }
                span{
                        border-radius: 0 0 8px 8px;
                        color: #fff;
                        width: 100%;
                        height: 15%;
                        background-color: #0007;
                        position:absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        bottom: 0;
                        left: 0
                        }
                }
        }
}

// -------------------------------------------------------
// -------------------PRODUCTS---------------------
// -------------------------------------------------------

.product_container{
    min-height: 100vh;
    width: 100%;
    // max-width: 1920px;
}

// -------------------------------------------------------
// -------------------RECIPES---------------------
// -------------------------------------------------------

.recipes_container{
    min-height: 100vh;
    width: 100%;
    // max-width: 1920px;
}

// -------------------------------------------------------
// ---------------------FOOTER-------------------
// -------------------------------------------------------

#footer{
    @include comunFlex(column);
    padding: 1em;
    // cabiar en fullscreen
    min-height: 50vh;
    width: 100%;
    background-color: vars.$green;
    // position: relative;
    color: vars.$white;
    justify-content: space-between;;
    .footer_map{
        background-color: vars.$yellow;
        border-radius: 8px;
        width: 95%;
        height: 300px;
       text-align: center;
        max-width: 500px;
        max-height: 500px;
        box-shadow: 0 1px 5px #0009;
        display: flex;
        flex-direction: column;
        iframe{
            border-radius: 8px 8px 0 0;

            height: 100%;
            width: 100%;
        }
        h4{
            text-shadow: 0 0 2px vars.$black;
        }
    }
    .footer_text{
        a{
            text-decoration: none;
            color: white;
        }
    }
}

.footer_text{
    @include comunFlex();
    .footer_text-ico1{
        @include comunFlex(row);
    }
    .footer_text-ico{
        width: 60px;
        height: 60px;
        border: 2px solid vars.$yellow;
        background-color:  vars.$yellow;
        border-radius: 50%;
        box-shadow: 0 1px 5px #0009;
        @include comunFlex();
        margin: 1em;
        img{
            filter: invert(100%) drop-shadow(0 0 1px #000);
            width: 70%;
            height: 70%;
        }
    }
    .footer_text-ico2{
        @include comunFlex();
        font-size: 1.1em;
        a{
            margin-bottom:0.2em;
        }
    }
}

// -------------------------------------------------------
// ---------------------KEYFRAMES-------------------
// -------------------------------------------------------

@keyframes disp {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}